*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  padding-top: 64px; 
  padding-left: 280px;
  font-family: sans-serif;
  height: 100vh;
  line-height: 1.5;
  color: #193441;
}

header {
  background-color: #193441;
  color: #91AA9D;
  padding: 4px;
  height: 64px;
  display: flex;
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0;
}

header h1 {
  padding: 0; 
  margin: 0;
  font-weight: 900;
  margin: auto;
  text-align: left;
  width: 100%;
}

nav {
  position: fixed; 
  left: 0; 
  top: 64px; 
  bottom: 0;
  background-color:  #3E606F;
  width: 280px;
  padding: 24px;
  color: #D1DBBD;
}

nav h2 {
  margin: 0;
  font-weight: 100;
  font-size: 120%;
}

nav form {
  margin-top: 24px;
}

nav input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border-style: none;
}

nav label {
  display: block;
  margin-top: 12px;
}

nav div {
  margin-top: 32px; 
}


button {
  padding: 6px;
  border-style: none; 
  border-radius: 4px;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main > div:nth-child(1) {
  display: flex;
  flex-direction: row;
}

main > div:nth-child(1) > section {
  flex: 1;
}

main > div:nth-child(1) > section > div {
  overflow: auto;
  max-height: 400px;
  padding: 8px;
}

main > div:nth-child(1) > section h2 {
  padding: 8px; 
  margin: 0; 
  background-color: #91AA9D;
}

main > div:nth-child(1) > section:nth-child(1) h2 {
  border-right: 3px solid #D1DBBD;
}

.data-table {
  border-style: none;
  width: 100%;
}

.data-table th,
.data-table td {
  padding: 4px;
}

.data-table > thead > tr > th {
  background-color: #D1DBBD;
  font-weight: 900;
}

.data-table > tbody > tr > td {
  background-color: #FFF;
}

.data-table > tbody > tr > td:nth-child(3) {
  text-align: center;
  padding: 0;
}


.data-table > tbody > tr:nth-child(even) > td {
  background-color: #f2f2f2;
}

.data-table > tbody > tr > td > input {
  background-color: transparent; 
  border-style: none;
  width: 100%;
  padding: 4px;
  font-size: 100%;
}

main > footer {
  background-color: #193441;
  color: #91AA9D;
  flex: 1;
}

.clear {
  visibility: hidden;
  clear: both;
}

.empty, .update, .delete {
  color: #FFF; 
  font-weight: 900;
  font-size: 80%;
}

.empty {
  margin: 8px;
  padding: 8px;
  border-style: none;
  background-color: red;
}

.update {
  background-color: green;
}

.delete {
  background-color: red;
}